.vs
**/*.user
**/*.userprefs
*.user
*.userprefs
*.suo
_ReSharper*
**/bin
**/obj
**/*.pidb
packages
*/**/*.StyleCop
*.Cache
CodeCoverageHTML
nunit-result.xml
outputCoverage.xml
TestResults
db/install.sql
*.lnk
node_modules


*.cs.orig
*.csproj.orig
